.home{
    min-height: 100vh;
}
.techstack{
    min-height: 100vh;
}
.about{
    min-height: 100vh;
}
.work{
    min-height: 100vh;
}

#about, #home, #techstack, #work, #contact {
  min-height: 100vh;
  padding-top: 80px;
}